%h1 Listing parts

%div.container
  %div.layout-grid
    - @parts.each do |part|
      %div.child
        %h2= part.name
        %h2= "£%d" % [part.price]
        %br

= link_to 'Back to Parts', categories_path
