%h1 Listing parts

%div.container
  %div.layout-grid
    - @parts.each do |part|
      %div.child
        = part.type
        %br
        = link_to 'More Info', part
%br

= link_to 'New Part', new_part_path

