%h1 Your Part Listings!

- if @listings.length == 0
  %h2 No part listings found!
- else
  %table
    %thead
      %tr
        %th
        %th
        %th

    %tbody
      - @listings.each do |listing|
        %tr
          %td= link_to 'Show', listing
          %td= link_to 'Edit', edit_listing_path(listing)
          %td= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }
