%footer.footer-distributed
  :javascript
    var colourNodeFooter = addColourCycleNode('#footer-main', 'footer-main')
    $(document).ready(function (){
      addColourHoverListener(colourNodeFooter)
    })

  %p{id: 'footer-main'}
    = "#{t('app_title')} | #{t('author')} | #{Time.current.year}"