%footer.footer-distributed{id: 'footer'}
  :javascript
    let colourNodeFooter = addColourCycleNode('#build-button', 'build-button')
    $(document).ready(function (){
      addColourHoverListener(colourNodeFooter)
    })

  %button{id: 'build-button'}
    START BUILDING