@import "vars";

@media only screen and (max-width: 600px) {
  .build-text {
    font-size: 48px !important;
  }
}

@media only screen and (max-width: 400px) {
  .build-text {
    font-size: 24px !important;
  }
}

footer {
  max-height: $footer-size;
  width: 100% !important;
  position: fixed !important;
  bottom: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#build-button {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  text-align: center;
  padding: 10px;
  background-color: $rgb-base-colour;
  color: $text-colour;
  cursor: pointer;
  outline: none;
  margin-bottom: 0;
  border: none;
}

#footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  font-size: 14px;
  text-align: center;
  padding: 6px;
  background-color: $rgb-base-colour;
  color: $text-colour;
  outline: none;
  margin-bottom: 0;
  border: none;
}

.build-text {
  font-size: 52px;
  color: $text-colour;
}