@import "vars";

footer {
  max-height: $footer-size;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#build-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 64px;
  text-align: center;
  padding: 10px;
  background-color: $back-colour;
  color: $text-colour;
  cursor: pointer;
  outline: none;
  margin-bottom: 0;
  border: none;
}