//import global vars
@import "vars";

//responsive design for the header (navigation) texts
@media screen and (max-width: 600px) {
  .header-nav-items {
    font-size: 20px !important;
  }
  #header-text {
    font-size: 36px !important;
  }
}

@media screen and (max-width: 400px) {
  .header-nav-items {
    font-size: 18px !important;
  }
  #header-text {
    font-size: 30px !important;
  }
}

//formats header size
.main {
  max-height: $header-size;
  line-height: $header-size;
}

//formats other header properties
header {
  overflow: hidden;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

//formats the header and the buttons which navigate to other pages
.header-distributed {
  background-color: $rgb-base-colour;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  width: 100%;
  padding: 55px 50px;
  display: inline-block;
  vertical-align: top;
  z-index: 999;

  h1 {
    text-align: center;
    color: $text-colour;
    font-size: 48px;
    a {
      color: $text-colour;
      text-decoration: none;
    }
  }

  div.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      cursor: pointer;
      text-align: center;
      color: $text-colour;
      font-size: 24px;
      padding: 12px;
      text-decoration: none;
      line-height: 25px;
      border-radius: 4px;

      a:hover {
        background-color: $back-hover-colour;
        opacity: 50;
        color: black;
      }
    }
  }
}