@import "vars";

.main {
  max-height: $header-size;
  line-height: $header-size;
}

header {
  overflow: hidden;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-distributed {
  background-color: $back-colour;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  width: 100%;
  padding: 55px 50px;
  display: inline-block;
  vertical-align: top;

  h1 {
    text-align: center;
    color: $text-colour;
    font-size: 48px;
  }

  div.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      cursor: pointer;
      text-align: center;
      color: $text-colour;
      font-size: 24px;
      padding: 12px;
      text-decoration: none;
      line-height: 25px;
      border-radius: 4px;

      a:hover {
        background-color: $back-hover-colour;
        opacity: 50;
        color: black;

      }

    }
  }
}