//global variable file

$rgb-base-colour: #0080FF;
$back-colour: #151515;
$back-hover-colour: #191919;
$background: #2d2d2d;
$text-subtle-colour: #99a1a7;
$text-colour: #FFFFFF;

$header-size: 140px;
$footer-size: 100px;

$margin-sides: 16px;