%h1 Part Manufacturers

%div.container
  %div.layout-grid
    - @manufacturers.each do |manufacturer|
      %div.child
        = link_to parts_url(:manufacturer_id => manufacturer.id - 1) do
          %div.centered-img-container
            %img{src: "/assets/logos/logo-" + manufacturer.name.downcase.gsub(' ', '-') + ".jpg", image_alt: 'manufacturer'}
        %h2= manufacturer.name