%h1 Part Manufacturers

%div.container
  %div.layout-grid
    - @manufacturers.each do |manufacturer|
      %div.child
        %h2= manufacturer.name
        %br
        = link_to 'More Info', manufacturer