<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>

  <body>
    <h1>Thank you!</h1>
    <br>
    <p>You have successfully sent a support ticket</p>
    <br>
    <p>
      Kind regards,
      <br>
      Battle Station Creator
    </p>
  </body>
</html>
